<p id="notice"><%= notice %></p>

<h2><%= @topic.title %> (<%= @topic.plusminus %>)</h2>
<%= RedCloth.new(@topic.content).to_html.html_safe %>

<% @replies.each do |reply| %>
  <blockquote class="comment">
    <%= RedCloth.new(reply.content).to_html.html_safe %>
  </blockquote>
<% end %>

<%= form_for @reply do |f| %>
  <%= hidden_field :reply, :topic_id, { :value => @topic.id } %>
  <div class="field">
    <%= f.label :content, "Your reply" %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
